@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Press Start 2P', cursive;
    color: aliceblue;
}

#window {
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 90vh;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.5vw;
    background-color: rgb(0, 0, 0);
}

#window > #menu {
    display: flex; 
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
}

#gridMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid white;
    padding: 12px;
    height: 10vh;
}

#pencilMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    border: 1px solid white;
    padding: 12px;
}

#toolsMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 12px;
    height: 108px;
    border: 1px solid white;
    /* padding: 24px; */
}

#buttonsMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid white;
    padding: 24px;
}

#clear, #download {
    background-color: black;
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    border: 1px solid white;
    padding: 6px;
}

#backgroundMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    padding: 12px;
    height: 250px;

}

#grid {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
    padding: 16px;
    border: 12px solid white;
}

#grid > .row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

#grid > .row > .cell {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid white;
}

#pencilContainer, #brushContainer, #eraserContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#pencil, #brush, #eraser {
    accent-color: black;
    
}

#colors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
}

/* #brushContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#eraserContainer {
    display: flex;
    flex-direction: row;
} */