#grid {
    display: flex;
    flex-direction: column;
}

#grid > .row {
    display: flex;
    flex-direction: row;
}

#grid > .row > .cell {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}